.stats-section {
  text-align: center;
}

.stats-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.stats-card {
  background: #fff;
  padding: 40px 30px;
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease-in-out;
}

.stats-card:hover {
  transform: scale(1.05);
}

.icon {
  font-size: 3rem !important;
  margin-bottom: 10px;
  color: #dc3545;
}

.stats-number {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 10px 0;
  color: #000;
}

.stats-label {
  font-size: 1rem;
  font-weight: 600;
  color: #000;
  font-family: "Montserrat", sans-serif;
}
.stats-label:hover {
  color: #bf3221;
}
.stats-title {
  color: #fff;
  margin-bottom: 40px;
  font-size: 36px;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}
