.navbar-nav .nav-link {
  font-size: 18px; /* 16px */
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  color: #000;
  font-weight: 900;
}

/* Enable position */
.dropdown-submenu {
  position: relative;
}

/* Submenu dropdown content */
.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: 0.1rem;
  margin-right: 0.1rem;
  font-family: "Montserrat", sans-serif;
  color: #000;
}
.header {
  position: sticky;
  top: 0;
  z-index: 1020; /* Make sure it's above other content */
  background-color: #fff; /* Or your desired background */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional shadow */
}
