@media (max-width: 768px) {
  .navbar-nav .nav-link {
    font-size: 0.875rem; /* 14px on mobile */
    font-family: "Montserrat", sans-serif;
    color: #000000;
  }
  .product-title {
    font-size: 1.125rem; /* 18px for mobile */
  }
  .mobile-header {
    display: contents;
  }
  .abt-slider {
    display: none;
  }
  .about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
    gap: 40px;
    background-color: #fdfdfd;
    flex-wrap: wrap;
  }

  .about-image img {
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }

  .about-content {
    max-width: 600px;
  }

  .about-content h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #222;
  }

  .about-content p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #444;
  }

  .read-more {
    background-color: tomato;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .read-more:hover {
    background-color: #e5533d;
  }

  /* Responsive */

  .about-container {
    flex-direction: column;
    text-align: center;
  }

  .about-content {
    padding: 0 20px;
  }
  .icon-size {
    font-size: 28px; /* smaller icon size on mobile */
  }
}
@media (max-width: 1023px) and (min-width: 768px) {
  .navbar-nav .nav-link {
    font-size: 0.95rem; /* ~15px */
    font-family: "Montserrat", sans-serif;
    color: #000000;
  }
}
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 20px;
    padding-left: 20px;
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    color: #000000;
    font-weight: 900;
  }
}
.title {
  font-size: 22px; /* default for mobile */
}

@media (min-width: 600px) {
  .title {
    font-size: 26px; /* tablets */
  }
}

@media (min-width: 900px) {
  .title {
    font-size: 2.5rem;
    font-weight: 900;
    color: #000000;
    font-family: "Montserrat", sans-serif;
  }
}

@media (min-width: 1200px) {
  .title {
    font-size: 2.5rem;
    font-weight: 900;
    color: #000000;
    font-family: "Montserrat", sans-serif;
  }
}
