.hover-bg:hover {
  background-color: #b21001;
}
.hover-bg:hover li {
  color: #fff;
}

.active-service {
  /* Highlighted orange */
  font-weight: bold;
}
.product-name {
  font-size: 20px;
  font-weight: 800;
  color: #000;
}
.product-name:hover {
  color: #fff;
}

.hover-bg:hover .icon-hover {
  color: #fff !important;
}
.hover-bg:hover .text-muted {
  color: #fff !important;
}
.active-service .fw-semibold,
.active-service small {
  color: #b21001 !important;
}
.category-header {
  background-color: #f0f0f0;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.category-header:hover {
  background-color: #e0e0e0;
}

.category-header {
  background-color: #f0f0f0;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.category-header:hover {
  background-color: #e0e0e0;
}
.recent-post-titel {
  font-size: 18px;
  color: #000;
}
.hover-bg:hover {
  background-color: #b71b0c;
  color: white;
}

.hover-bg:hover .recent-post-titel {
  color: white;
}
