.wp {
  cursor: pointer;
  position: fixed;
  top: 70%;
  right: 10px !important;
  z-index: 9999;
  width: 55px;
  height: 55px;
}

/* Hide on small screens */
@media only screen and (max-width: 768px) {
  .wp {
    display: none;
  }
}

/* Mobile bottom icons */
.mobile-icons {
  display: none;
}

@media (max-width: 767px) {
  @media (max-width: 767px) {
    .mobile-icons {
      background: #c1392e !important;
      width: 100vw; /* Ensures it fits the full viewport width */
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center; /* Vertically centers content */
      text-align: center;
      color: #fff;
      position: fixed;
      bottom: 0;
      left: 0; /* Ensure it's pinned from the left */
      z-index: 1000;
      font-size: 15px;
      border-top: 2px solid gray;
      height: 70px;
      padding-top: 5px;
      box-sizing: border-box; /* Includes padding in height */
    }
  }

  .mobile-icons a {
    text-decoration: none;
    color: #fff;
  }

  .mobile-icons img {
    width: 30px;
  }

  .mobile-icons p {
    margin: 4px 0 0;
    font-size: 12px;
  }
}
